<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<title>Acerca de | Fivetech Software</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" />
<link href="layout.css" rel="stylesheet" type="text/css" />
</head>
<body id="page1">
<div id="langs"><a href="index"><img src="images/uk.png" /></a></div>
<div id="tail-top">
  <div id="tail-bot">
    <div id="tail-top-right"></div>
    <div id="main">
      <!-- header -->
      <div id="header"><a href="http://www.fivetechsoft.com/spanish/"><img src="images/logo_es.gif" id="logo" alt="Fivetech Software - The power of Easiness" /></a>
        <ul>
        <li class="active"><a href="index.php" class="active">Acerca de</a></li>
          <li ><a href="productos" >Productos</a></li>
          <li ><a href="comprar">Comprar</a></li>
          <li ><a href="soporte" >Soporte</a></li>
          <li ><a href="contacto" >Contacto</a></li>
        </ul>
        <img src="images/slogan.png" id="slogan" alt="Tu fuente de las últimas novedades y desarrollos en tecnologia xbase" />
        <a href="http://www.fivetechsoft.com/files/6.12/fwh.exe">
        <img src="images/header-title4.png" id="header-title4" alt=""/></a>
     </div>
        
{{content}}
      
      <div id="footer">
      	<br><br>
        <p><span>FiveTech Software (c) 2018</span></p>
        <ul>
        <li id="act" class="extra"><a href="indice">Acerca de</a></li>
          <li ><a href="productos">Productos</a></li>
          <li ><a href="comprar">Comprar</a></li>
          <li ><a href="soporte">Soporte</a></li>
          <li ><a href="contacto">Contacto</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>
